body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('https://wallpapercave.com/wp/yOxbmW4.jpg') no-repeat;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-attachment: fixed;
}
.header {
  display: flex;
  padding-left: 3vw;
  /* justify-content: space-around; */
  background-color: rgb(0, 0, 0, 0.2);
}


.Boards {
  display: flex;
  justify-content: space-around;
}
.cardDiv:hover {
  cursor: pointer;
}
.trello-img {
  /* padding-right: 30vw; */
  padding-left: 27vw;
}
.boardButton {
  margin-top: 1vw;
}
p {
  margin: 0;
}
/* .homeImg {
  color: white;
} */
